* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
}

.header {
  background-color: violet;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8%;
  width: 100%;
  transition: .7s;
}

.box {
  height: 30px;
  width: 30px;
  margin: 0 10px;
}

#box1 {
  background-color: black;
}

#box2 {
  background-color: red;
}

#box3 {
  background-color: green;
}
#box4 {
  background-color: blue;
}
#box5 {
  background-color: yellow;
}

#box6 {
  background-color: white;
  border: 1px solid;
}

.content {
  width: 100%;
  height: 87%;
  transition: 0.7s;
}

h1 {
  height: 5%;
  transition: 0.7s;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
